<html>
    <header>
        <title>Books records</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' ) }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <body>
        <div class='card-group'>
          
            {% for book in list %}
              <div class="row" style="padding: 10px 20px;">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem ;">
                        <img class="card-img-top" src="/static/css/libro.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><strong>{{book.Title}}</strong></h5>
                          <p class="card-text">Book Id: {{book.ID}}</p>
                          <p class="card-text">Description: {{book.Description}}</p>
                          <p class="card-text">Price: {{book.Price}}</p>
                        </div>
                      </div>
                </div>
              </div>
              <br>
            {% endfor %}
            
            </div>
            <p><a href=addNewBook><button type="button" class="btn btn-secondary btn-lg btn-block" style="display:scroll;bottom: 0px; right: 0px;">Add new book</button></a></p>
            <p><a href=/pygalexample/><button type="button" class="btn btn-secondary btn-lg btn-block" style="display:scroll;bottom: 0px; right: 0px;">Graph</button></a></p>            
    </body>
</html>