{%block body%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body class="body">
    <div class="container" aling="left">
        <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
    </div>
    <p><a href=/hello><button type="button" class="btn btn-secondary btn-lg btn-block" style="display:scroll;position:fixed;bottom: 0px; right: 0px;">All books</button></a></p>
</body>
{%endblock%}